{% extends "base.html" %}

{% block content %}
  <h1>Classification Complete</h1>
  <!-- <p>??? images were classified successfully.</p> -->
  <!-- <p>??? images were not able to be automatically classified.</p> -->
  <p>Click here to download tabular results (<a href="{{ url_for('csv_download') }}" target="blank">CSV</a>)</p>
  <p>Click here to download unclassified images (<a href="{{ url_for('zip_download') }}" target="blank">ZIP</a>)</p>

  <!-- <div class="actions">
    <input type="button" class="btn" value="Upload Images" onclick="window.location.href='{{ url_for('upload') }}';">
    <input type="submit" class="btn" value="Launch Image Classifier" id="classify_btn">
  </div>

  <div style="width: 100%; align-items: center;">
    <div class='container'>
      <p>Image classification in progress...</p>
      <div class='loader'></div>
      <p id='message'>Thanks for waiting...</p>
    </div>
  </div>

  <script type="text/javascript">
    $("#classify_btn").click(function() {
      $(".container").show();
      console.log('Clicked');
    });
  </script> -->
{% endblock %}
